<h1>RP Home</h1>
<div>
  <% if flash[:notice] %>
    <p>
      <%= flash[:notice] %>
    </p>
  <% end %>

  <% if current_user %>
    <p>Logged in the following account.</p>
    <ul>
      <li>name: <%= current_user.name %></li>
      <li>email: <%= current_user.email %></li>
    </ul>
    <p><%= link_to 'Logout', destroy_user_session_path, id: 'logout' %></p>

    <div>Re Auth
      <%= form_tag('/users/auth/mdh', method: 'post') do %>
        <button type='submit'>Re Login</button>
      <% end %>
    </div>
  <% else %>
    <%= form_tag('/users/auth/mdh', method: 'post') do %>
      <button type='submit'>Login</button>
    <% end %>
  <% end %>
</div>
