<h1>RP Home</h1>
<div>
  <% if flash[:notice] %>
    <p>
      <%= flash[:notice] %>
    </p>
  <% end %>

  <% if current_user %>
    <p>Logged in the following account.</p>
    <ul>
      <li>name: <%= current_user.name %></li>
      <li>email: <%= current_user.email %></li>
    </ul>
    <p>
      <%= link_to 'Logout',
            destroy_user_session_path,
            method: :delete,
            data: { turbo_method: :delete } %>
    </p>

    <div>Re Auth
      <%# OpenID Providerにアクセスして、リダイレクトするため、turbo: false とする %>
      <%= button_to 'Re Login', user_mdh_omniauth_authorize_path, data: { turbo: false }, method: :post %>
    </div>
  <% else %>
    <%# OpenID Providerにアクセスして、リダイレクトするため、turbo: false とする %>
    <%= button_to 'Login', user_mdh_omniauth_authorize_path, data: { turbo: false }, method: :post %>
  <% end %>
</div>
